Importação das bibliotecas

In [1]:
import pandas as pd

Carregamento dos dados

In [2]:
df_1 = pd.read_csv(r'dataset\VRA_20251.csv', skiprows=1, sep=';')
df_2 = pd.read_csv(r'dataset\VRA_20252.csv', skiprows=1, sep=';')
df_3 = pd.read_csv(r'dataset\VRA_20253.csv', skiprows=1, sep=';')
df_4 = pd.read_csv(r'dataset\VRA_20254.csv', skiprows=1, sep=';')
df_5 = pd.read_csv(r'dataset\VRA_20255.csv', skiprows=1, sep=';')
df_6 = pd.read_csv(r'dataset\VRA_20256.csv', skiprows=1, sep=';')
df_7 = pd.read_csv(r'dataset\VRA_20257.csv', skiprows=1, sep=';')
df_8 = pd.read_csv(r'dataset\VRA_20258.csv', skiprows=1, sep=';')
df_9 = pd.read_csv(r'dataset\VRA_20259.csv', skiprows=1, sep=';', low_memory=False)
df_10 = pd.read_csv(r'dataset\VRA_202510.csv', skiprows=1, sep=';')

Criação de um única df para limpar todos os arquivos

In [3]:
dfs = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10]
df = pd.concat(dfs, ignore_index=True)

In [4]:
print(f"Total de linhas: {df.shape[0]}")
df.head()

Total de linhas: 835388

,ICAO Empresa Aérea,Número Voo,Código Autorização (DI),Código Tipo Linha,ICAO Aeródromo Origem,ICAO Aeródromo Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo,Código Justificativa
0,AAL,0963,0,I,KDFW,SBGR,2025-01-21 20:25:00,2025-01-22 01:10:00,2025-01-22 08:35:00,2025-01-22 11:24:00,REALIZADO,NaN
1,AAL,0963,0,I,KDFW,SBGR,2025-01-22 20:25:00,2025-01-22 22:25:00,2025-01-23 08:35:00,2025-01-23 08:35:00,REALIZADO,NaN
2,AAL,0963,0,I,KDFW,SBGR,2025-01-23 20:25:00,2025-01-23 22:26:00,2025-01-24 08:35:00,2025-01-24 08:46:00,REALIZADO,NaN
3,AAL,0963,0,I,KDFW,SBGR,2025-01-24 20:25:00,2025-01-24 22:27:00,2025-01-25 08:35:00,2025-01-25 08:18:00,REALIZADO,NaN
4,AAL,0963,0,I,KDFW,SBGR,2025-01-25 20:25:00,2025-01-25 22:30:00,2025-01-26 08:35:00,2025-01-26 08:43:00,REALIZADO,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 835388 entries, 0 to 835387
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ICAO Empresa Aérea       835388 non-null  object
 1   Número Voo               835388 non-null  object
 2   Código Autorização (DI)  835388 non-null  object
 3   Código Tipo Linha        834917 non-null  object
 4   ICAO Aeródromo Origem    835388 non-null  object
 5   ICAO Aeródromo Destino   835388 non-null  object
 6   Partida Prevista         813801 non-null  object
 7   Partida Real             812274 non-null  object
 8   Chegada Prevista         813801 non-null  object
 9   Chegada Real             812274 non-null  object
 10  Situação Voo             835388 non-null  object
 11  Código Justificativa     0 non-null       float64
dtypes: float64(1), object(11)
memory usage: 76.5+ MB

In [6]:
df['Situação Voo'].value_counts()

Situação Voo
REALIZADO        812274
CANCELADO         22537
NÃO INFORMADO       577
Name: count, dtype: int64

In [7]:
df['Código Tipo Linha'].value_counts()

Código Tipo Linha
N    668967
I    129662
G     14925
C     12813
X      8550
Name: count, dtype: int64

In [8]:
df['Código Autorização (DI)'].value_counts()

Código Autorização (DI)
0    806742
2      6059
4      4667
6      4619
3      3344
9      3302
7      3151
1      2692
D       680
E       132
Name: count, dtype: int64

In [9]:
df = df[df['Situação Voo'] == 'REALIZADO']
df.head()

,ICAO Empresa Aérea,Número Voo,Código Autorização (DI),Código Tipo Linha,ICAO Aeródromo Origem,ICAO Aeródromo Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo,Código Justificativa
0,AAL,0963,0,I,KDFW,SBGR,2025-01-21 20:25:00,2025-01-22 01:10:00,2025-01-22 08:35:00,2025-01-22 11:24:00,REALIZADO,NaN
1,AAL,0963,0,I,KDFW,SBGR,2025-01-22 20:25:00,2025-01-22 22:25:00,2025-01-23 08:35:00,2025-01-23 08:35:00,REALIZADO,NaN
2,AAL,0963,0,I,KDFW,SBGR,2025-01-23 20:25:00,2025-01-23 22:26:00,2025-01-24 08:35:00,2025-01-24 08:46:00,REALIZADO,NaN
3,AAL,0963,0,I,KDFW,SBGR,2025-01-24 20:25:00,2025-01-24 22:27:00,2025-01-25 08:35:00,2025-01-25 08:18:00,REALIZADO,NaN
4,AAL,0963,0,I,KDFW,SBGR,2025-01-25 20:25:00,2025-01-25 22:30:00,2025-01-26 08:35:00,2025-01-26 08:43:00,REALIZADO,NaN

In [10]:
df = df.drop(columns=['Código Justificativa'])

In [11]:
print(f"Total de linhas: {df.shape[0]}")
df.head()

Total de linhas: 812274

,ICAO Empresa Aérea,Número Voo,Código Autorização (DI),Código Tipo Linha,ICAO Aeródromo Origem,ICAO Aeródromo Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo
0,AAL,0963,0,I,KDFW,SBGR,2025-01-21 20:25:00,2025-01-22 01:10:00,2025-01-22 08:35:00,2025-01-22 11:24:00,REALIZADO
1,AAL,0963,0,I,KDFW,SBGR,2025-01-22 20:25:00,2025-01-22 22:25:00,2025-01-23 08:35:00,2025-01-23 08:35:00,REALIZADO
2,AAL,0963,0,I,KDFW,SBGR,2025-01-23 20:25:00,2025-01-23 22:26:00,2025-01-24 08:35:00,2025-01-24 08:46:00,REALIZADO
3,AAL,0963,0,I,KDFW,SBGR,2025-01-24 20:25:00,2025-01-24 22:27:00,2025-01-25 08:35:00,2025-01-25 08:18:00,REALIZADO
4,AAL,0963,0,I,KDFW,SBGR,2025-01-25 20:25:00,2025-01-25 22:30:00,2025-01-26 08:35:00,2025-01-26 08:43:00,REALIZADO

In [12]:
df['Código Tipo Linha'].value_counts()

Código Tipo Linha
N    657300
I    124204
C     11313
G     10907
X      8550
Name: count, dtype: int64

In [13]:
df = df[df['Código Tipo Linha'].isin(['N', 'I'])]

In [16]:
df['Código Tipo Linha'].value_counts()

Código Tipo Linha
N    657300
I    124204
Name: count, dtype: int64

In [18]:
df.shape

(781504, 11)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 781504 entries, 0 to 835387
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ICAO Empresa Aérea       781504 non-null  object
 1   Número Voo               781504 non-null  object
 2   Código Autorização (DI)  781504 non-null  object
 3   Código Tipo Linha        781504 non-null  object
 4   ICAO Aeródromo Origem    781504 non-null  object
 5   ICAO Aeródromo Destino   781504 non-null  object
 6   Partida Prevista         768509 non-null  object
 7   Partida Real             781504 non-null  object
 8   Chegada Prevista         768509 non-null  object
 9   Chegada Real             781504 non-null  object
 10  Situação Voo             781504 non-null  object
dtypes: object(11)
memory usage: 71.5+ MB

In [21]:
colunas_data = ['Partida Prevista', 'Partida Real', 'Chegada Prevista', 'Chegada Real']

for coluna in colunas_data:
    df[coluna] = pd.to_datetime(df[coluna], errors='coerce', format='%d/%m/%Y %H:%M')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 781504 entries, 0 to 835387
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ICAO Empresa Aérea       781504 non-null  object
 1   Número Voo               781504 non-null  object
 2   Código Autorização (DI)  781504 non-null  object
 3   Código Tipo Linha        781504 non-null  object
 4   ICAO Aeródromo Origem    781504 non-null  object
 5   ICAO Aeródromo Destino   781504 non-null  object
 6   Partida Prevista         768509 non-null  datetime64[ns]
 7   Partida Real             781504 non-null  datetime64[ns]
 8   Chegada Prevista         736661 non-null  datetime64[ns]
 9   Chegada Real             781504 non-null  datetime64[ns]
 10  Situação Voo             781504 non-null  object
dtypes: datetime64[ns](4), object(7)
memory usage: 71.5+ MB

In [26]:
df['Partida Prevista'].isnull().sum()

np.int64(12995)

In [27]:
df = df.dropna(subset=['Partida Prevista'])

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 768509 entries, 0 to 835387
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ICAO Empresa Aérea       768509 non-null  object
 1   Número Voo               768509 non-null  object
 2   Código Autorização (DI)  768509 non-null  object
 3   Código Tipo Linha        768509 non-null  object
 4   ICAO Aeródromo Origem    768509 non-null  object
 5   ICAO Aeródromo Destino   768509 non-null  object
 6   Partida Prevista         768509 non-null  datetime64[ns]
 7   Partida Real             768509 non-null  datetime64[ns]
 8   Chegada Prevista         736661 non-null  datetime64[ns]
 9   Chegada Real             768509 non-null  datetime64[ns]
 10  Situação Voo             768509 non-null  object
dtypes: datetime64[ns](4), object(7)
memory usage: 70.4+ MB

In [29]:
df.drop(columns=['Situação Voo'], inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 768509 entries, 0 to 835387
Data columns (total 10 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ICAO Empresa Aérea       768509 non-null  object
 1   Número Voo               768509 non-null  object
 2   Código Autorização (DI)  768509 non-null  object
 3   Código Tipo Linha        768509 non-null  object
 4   ICAO Aeródromo Origem    768509 non-null  object
 5   ICAO Aeródromo Destino   768509 non-null  object
 6   Partida Prevista         768509 non-null  datetime64[ns]
 7   Partida Real             768509 non-null  datetime64[ns]
 8   Chegada Prevista         736661 non-null  datetime64[ns]
 9   Chegada Real             768509 non-null  datetime64[ns]
dtypes: datetime64[ns](4), object(6)
memory usage: 64.5+ MB

In [31]:
df = df.dropna(subset=['Chegada Prevista'])

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 736661 entries, 0 to 835387
Data columns (total 10 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ICAO Empresa Aérea       736661 non-null  object
 1   Número Voo               736661 non-null  object
 2   Código Autorização (DI)  736661 non-null  object
 3   Código Tipo Linha        736661 non-null  object
 4   ICAO Aeródromo Origem    736661 non-null  object
 5   ICAO Aeródromo Destino   736661 non-null  object
 6   Partida Prevista         736661 non-null  datetime64[ns]
 7   Partida Real             736661 non-null  datetime64[ns]
 8   Chegada Prevista         736661 non-null  datetime64[ns]
 9   Chegada Real             736661 non-null  datetime64[ns]
dtypes: datetime64[ns](4), object(6)
memory usage: 61.8+ MB

In [33]:
df.to_csv('df_limpo.csv', index=False)

In [34]:
df_limpo = pd.read_csv('df_limpo.csv')

In [35]:
df_limpo.head()

,ICAO Empresa Aérea,Número Voo,Código Autorização (DI),Código Tipo Linha,ICAO Aeródromo Origem,ICAO Aeródromo Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real
0,AAL,0963,0,I,KDFW,SBGR,2025-01-21 20:25:00,2025-01-22 01:10:00,2025-01-22 08:35:00,2025-01-22 11:24:00
1,AAL,0963,0,I,KDFW,SBGR,2025-01-22 20:25:00,2025-01-22 22:25:00,2025-01-23 08:35:00,2025-01-23 08:35:00
2,AAL,0963,0,I,KDFW,SBGR,2025-01-23 20:25:00,2025-01-23 22:26:00,2025-01-24 08:35:00,2025-01-24 08:46:00
3,AAL,0963,0,I,KDFW,SBGR,2025-01-24 20:25:00,2025-01-24 22:27:00,2025-01-25 08:35:00,2025-01-25 08:18:00
4,AAL,0963,0,I,KDFW,SBGR,2025-01-25 20:25:00,2025-01-25 22:30:00,2025-01-26 08:35:00,2025-01-26 08:43:00