In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset\VRA_20251.csv', skiprows=1, sep=';')

<>:1: SyntaxWarning: invalid escape sequence '\V'
<>:1: SyntaxWarning: invalid escape sequence '\V'
C:\Users\Ebenezer Carvalho\AppData\Local\Temp\ipykernel_16284\992785954.py:1: SyntaxWarning: invalid escape sequence '\V'
  df = pd.read_csv('dataset\VRA_20251.csv', skiprows=1, sep=';')

In [3]:
df.head()

,ICAO Empresa Aérea,Número Voo,Código Autorização (DI),Código Tipo Linha,ICAO Aeródromo Origem,ICAO Aeródromo Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo,Código Justificativa
0,AAL,0963,0,I,KDFW,SBGR,2025-01-21 20:25:00,2025-01-22 01:10:00,2025-01-22 08:35:00,2025-01-22 11:24:00,REALIZADO,NaN
1,AAL,0963,0,I,KDFW,SBGR,2025-01-22 20:25:00,2025-01-22 22:25:00,2025-01-23 08:35:00,2025-01-23 08:35:00,REALIZADO,NaN
2,AAL,0963,0,I,KDFW,SBGR,2025-01-23 20:25:00,2025-01-23 22:26:00,2025-01-24 08:35:00,2025-01-24 08:46:00,REALIZADO,NaN
3,AAL,0963,0,I,KDFW,SBGR,2025-01-24 20:25:00,2025-01-24 22:27:00,2025-01-25 08:35:00,2025-01-25 08:18:00,REALIZADO,NaN
4,AAL,0963,0,I,KDFW,SBGR,2025-01-25 20:25:00,2025-01-25 22:30:00,2025-01-26 08:35:00,2025-01-26 08:43:00,REALIZADO,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89716 entries, 0 to 89715
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ICAO Empresa Aérea       89716 non-null  object
 1   Número Voo               89716 non-null  object
 2   Código Autorização (DI)  89716 non-null  object
 3   Código Tipo Linha        89716 non-null  object
 4   ICAO Aeródromo Origem    89716 non-null  object
 5   ICAO Aeródromo Destino   89716 non-null  object
 6   Partida Prevista         87363 non-null  object
 7   Partida Real             86361 non-null  object
 8   Chegada Prevista         87363 non-null  object
 9   Chegada Real             86361 non-null  object
 10  Situação Voo             89716 non-null  object
 11  Código Justificativa     0 non-null      float64
dtypes: float64(1), object(11)
memory usage: 8.2+ MB

In [5]:
df['Situação Voo'].value_counts()

Situação Voo
REALIZADO        86361
CANCELADO         3199
NÃO INFORMADO      156
Name: count, dtype: int64

In [6]:
df['Código Tipo Linha'].value_counts()

Código Tipo Linha
N    71076
I    14867
G     1567
C     1560
X      646
Name: count, dtype: int64

In [7]:
df['Código Autorização (DI)'].value_counts()

Código Autorização (DI)
0    86811
2      704
1      481
6      459
9      339
3      333
4      314
7      204
D       56
E       15
Name: count, dtype: int64